<!DOCTYPE html>
<body style="background-color:lightgrey">

<h1 style="color:red;font-size:350%"><U>PRACTICAL EXAM FOR WEB SECURITIES FUNDAMENTALS(CS640)</B></U> </h1></br>
</br>
<p1 style="color:blue;font-size:300%">Name: Desam Syama Sundara Reddy</p1> 
</br>
<p1 style="color:blue;font-size:300%">Student ID: 86287</p1> 
</br>
</br>
<p1 style="color:green;font-size:200%"> I have learnt Seven layred approch for network communication and their functions given by OSI model, V LANS concept, Firewalls concept,</p1> 
</br><p1 style="color:green;font-size:200%">Hacking cocepts, basic Routers configuration,switch configuration, Concepts of Virtual Private Networks and Cryptography(Symetric and Asymetric Keys)</p1>

</body>
</html>